spring:
  servlet:
    multipart:
      max-file-size: 3GB
      max-request-size: 3GB

cloud:
  aws:
    credentials:
      access-key: ${ACCESS_KEY}
      secret-key: ${SECRET_KEY}

    s3:
      bucket: ${BUCKET_NAME}

    region:
      static: ${REGION}

    stack:
      auto: false